.cart-title {
  margin: 50px 6%
}

.cart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 6%;
}
.cart-container p, .cart-container span {
  font-size: larger;
  margin-top: 0;
}
.cart-container button {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: rgb(58, 58, 58);
  color: white;
  cursor: pointer;
}
.cart-container button:hover {
  background-color: rgb(80, 80, 80);;
}

.cart-card {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
  background-color: rgb(240, 239, 239);
  width: fit-content;
  padding: 15px 50px 0 0;
  border-radius: 10px;
}
.cart-card img {
  border-radius: 10px;
  width: 250px;
}
.cart-card h3, .cart-card p {
  margin: 10px 0;
}
.cart-card div:not(:last-child) button{
  padding: 1px 4px;
  margin: 0 2px;
  min-width: 22px;
  background-color: inherit;
  color: rgb(121, 121, 121);
  border: solid 1px rgb(121, 121, 121);
  border-radius: 20px;
}
.cart-card div:not(:last-child) button:hover {
  background-color: rgb(221, 221, 221);
}

.cart-final {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  background-color: rgb(240, 239, 239);
  border-radius: 10px;
  padding: 30px;
}
.cart-final button:first-child {
  margin-right: 15px;
}


.user-form{
  font-size: large;
}
.user-form label {
  display: block;
  margin-top: 10px;
}
.user-form input {
  border: solid 1px;
  border-radius: 5px;
  padding: 8px;
  font-size: medium;
  margin: 8px 0;
  width: 240px;
}
.user-form div {
  margin-top: 15px;
}
.user-form span:not(:last-child) {
  display: block;
  font-size: small;
  color: rgb(200, 30, 30)
}